@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

    font-family: Outfit, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right,  rgba(0,0,0,1) 59%,rgba(0,0,0,1) 59%,rgba(21,64,102,1) 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}